{
    "resource": [
      {
        "name": "云主机",
        "value": "instance"
      },
      {
        "name": "应用",
        "value": "application"
      },
      {
        "name": "负载均衡",
        "value": "loadbalancer"
      }
    ],
    "item": [
      {
        "name": "CPU利用率",
        "value": "cpuUtil",
        "unit": "%"
      },
      {
        "name": "内存使用率",
        "value": "memoryUtil",
        "unit": "%"
      },
      {
        "name": "磁盘使用率",
        "value": "diskUtil",
        "unit": "%"
      },
      {
        "name": "内部网络流出量",
        "value": "internalNetOut",
        "unit": "MB"
      },
      {
        "name": "内部网络流入量",
        "value": "internalNetIn",
        "unit": "MB"
      },
      {
        "name": "外部网络流出量",
        "value": "externalNetOut",
        "unit": "MB"
      },
      {
        "name": "外部网络流入量",
        "value": "externalNetIn",
        "unit": "MB"
      }
    ],
    "period": [
      {
        "name": "1分钟",
        "value": "1m"
      },
      {
        "name": "5分钟",
        "value": "5m"
      },
      {
        "name": "30分钟",
        "value": "30m"
      },
      {
        "name": "1小时",
        "value": "60m"
      }
    ],
    "condition": [
      {
        "name": "大于",
        "value": ">"
      },
      {
        "name": "小于",
        "value": "<"
      },
      {
        "name": "等于",
        "value": "="
      }
    ],
    "serviceCondition": [
      {
        "name": "是",
        "value": "is"
      }
    ],
    "serviceThreshold": [
      {
        "name": "活动",
        "value": "active"
      },
      {
        "name": "停止",
        "value": "stop"
      },
      {
        "name": "错误",
        "value": "error"
      }
    ],
    "status": [
      {
        "name": "警告",
        "value": "warning"
      }
      ],
      "status_no_used":[
      {
        "name": "正常",
        "value": "normal"
      },
      {
        "name": "数据不足",
        "value": "shortage"
      }
    ],
    "autoScale":[
    {
      "name":"自动弹性伸",
      "value": "add"
    },
    {
      "name":"自动弹性缩",
      "value": "reduce"
    }
    ]
}