<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.cloudapi.dao.common.CloudServiceMapper">
	<resultMap id="BaseResultMap" type="com.cloud.cloudapi.pojo.openstackapi.forgui.CloudService">
	    <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="all_fields">
        id, name, type,description
	</sql>
	
	<!-- basic super dao -->
	
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
     select <include refid="all_fields" /> from services where id=#{id}
    </select>
    
    <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.String">
     select <include refid="all_fields" /> from services where type=#{type}
    </select>
    
    <insert id="insertSelective" parameterType="com.cloud.cloudapi.pojo.openstackapi.forgui.CloudService">
		insert into services ( <include refid="all_fields" /> )
		values (
		#{id}, #{name}, #{type},#{description}
		)
	</insert>
	
	<insert id="insertOrUpdate">
     insert into services (<include refid="all_fields" /> )   
     values  
     (#{id}, #{name}, #{type},#{description})  
      ON DUPLICATE KEY UPDATE
      name = #{name}, type = #{type},description = #{description}
	</insert>
	
	<update id="insertOrUpdateBatch" parameterType="java.util.List">  
       insert into services (<include refid="all_fields" /> )   
       values  
       <foreach collection="list" item="item" index="index" separator="," >  
         (#{item.id}, #{item.name},#{item.type},#{item.description})    
       </foreach> ON DUPLICATE KEY UPDATE
        name=VALUES(name),type=VALUES(type),description=VALUES(description)
    </update>
    
	<update id="updateByPrimaryKeySelective" parameterType="com.cloud.cloudapi.pojo.openstackapi.forgui.CloudService">
        update services set name = #{name}, type = #{type},description = #{description}
        where id = #{id}
    </update>
    
    <delete id= "deleteByPrimaryKey" parameterType="java.lang.String">
       delete from services where id =#{id}
	</delete>
	
	<!-- self dao -->
    <select id="countNum" resultType="java.lang.Integer">
	  select count(*) as num from services
	</select>
	
    <select id="selectAll" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from services 
    </select>
    
    <select id="selectListForPage" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from services  limit #{0}, #{1}
    </select>    

</mapper>